<button type="button" class="close" aria-label="Close" (click)="closeDialog()">
  <span aria-hidden="true">&times;</span>
</button>
<div>
  <h3>Добавление смены </h3>
  <hr>
</div>


<form id="data" novalidate [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

  <p>Тип крана</p>
  <select class="custom-select form-control " formControlName="tapSelect">
    <option value=""> Выберите кран</option>
    <option value="0">Двойной</option>
    <option value="1">Одинарный</option>
  </select>


  <div class="form-group" [ngClass]="{
    'has-error': firstName.invalid && firstName.dirty,
    'has-success': firstName.valid && firstName.dirty }">
    <label>ФИО ответственного</label>
    <input type="text" class="form-control" formControlName="firstName">
    <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.dirty">
      Поле обязательное для ввода
    </div>
  </div>

  <label>Дата начала&nbsp;</label>
  <mat-form-field>
    <input
      class="form-control"
      [ngClass]="{
    'has-error': startDate.invalid && startDate.dirty,
    'has-success': startDate.valid && startDate.dirty }"
      formControlName="startDate"
      matInput
      placeholder="Выберите дату"
      #inputDate
      readonly="false"
      [matDatepicker]="picker"
      (click)="picker.open()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <button
      *ngIf="inputDate.value.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="clearStartDate()" class="size25">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>


  <label>&nbsp;Дата окончания&nbsp;</label>
  <mat-form-field>
    <input
      class="form-control"
      [ngClass]="{
    'has-error': endDate.invalid && endDate.dirty,
    'has-success': endDate.valid && endDate.dirty }"
      formControlName="endDate"
      matInput
      placeholder="Выберите дату"
      #inputDate2
      readonly="false"
      [matDatepicker]="picker2"
      (click)="picker2.open()">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
    <button
      *ngIf="inputDate2.value.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="clearEndDate()" class="size25">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <div>
    <div class="alert alert-danger" *ngIf="startDate.invalid && startDate.dirty">
      Поле "Дата начала" является обязательным для ввода
    </div>
    <div class="alert alert-danger" *ngIf="endDate.invalid && endDate.dirty">
      Поле "Дата окончания" является обязательным для ввода
    </div>

    <span class="font-weight-bold">Первый кран</span>
    <table class="table table-hover">
      <thead>
      <th>Грузовик</th>
      <th>Погружено, т</th>
      <th>Выгружено, т</th>
      <th></th>
      </thead>

      <tbody>
      <tr *ngFor="let load of loads; let i=index">
        <td>
          <select (change)="truckSelect(i)">
            <option selected disabled value=""> Выберите грузовик</option>
            <option *ngFor="let truckstring of allTrucks" [value]="truckstring">{{truckstring}}</option>
          </select>
        </td>
        <td>
          <input (change)="calculate()" type="number"
                 [ngModel]="loads[i].loaded"
                 (input)="loads[i].loaded= getValue($event)"
                 required>
        </td>
        <td>
          <input (change)="calculate()" type="number"
                 [ngModel]="loads[i].uploaded"
                 (input)="loads[i].uploaded=getValue($event)"
                 required>
        </td>
        <td (click)="deleteRow(i)">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tapSelect.value && tapSelect.value == 0">
    <br>
    <span class="font-weight-bold"> Второй кран</span>
    <table class="table table-borderless">
      <thead class="text-warning">
      <th>Грузовик</th>
      <th>Погружено, т</th>
      <th>Выгружено, т</th>
      <th></th>
      </thead>

      <tbody>
      <tr *ngFor="let load of loads2; let i=index">
        <td>
          <select (change)="truckSelect2(i)">
            <option selected disabled value=""> Выберите грузовик</option>
            <option *ngFor="let truckstring of allTrucks" [value]="truckstring">{{truckstring}}</option>
          </select>
        </td>
        <td>
          <input (change)="calculate2()" type="text"
                 [ngModel]="loads2[i].loaded"
                 (input)="loads2[i].loaded= getValue($event)"
                 required>
        </td>
        <td>
          <input (change)="calculate2()" type="text"
                 [ngModel]="loads2[i].uploaded"
                 (input)="loads2[i].uploaded=getValue($event)"
                 required>
        </td>
        <td (click)="deleteRow2(i)">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <hr>
  <div class="row">
    <div class="col-md-3 offset-md-3">
    </div>
    <div class="col-md-3 offset-md-3">
      <span class="font-weight-bold">Всего погржено {{totalLoad + totalLoad2}} т</span>
       <br>
      <span class="font-weight-bold">Всего выгружено {{totalUpload + totalUpload2}} т</span>
      <br>
      <button mat-button class="btn btn-primary" [mat-dialog-close]="true" (click)="closeDialog()">
        Закрыть
      </button>
      <input type="submit" value="Сохранить" class="btn btn-default" [disabled]="registrationForm.invalid">
      <app-alert></app-alert>
    </div>
  </div>
</form>



